<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoping details</title>
    <style>
      body {
            display: flex;
            gap: 30px;
        }
    </style>
</head>
<body>
    {% load static %}
    {% for item in product_list %} 
    {% if item.name == shoping_item %}

    <img src="{% static item.image%}" height="100" width="100">

    <h6>{{item.name}}</h6>
    <p>Brand: {{item.brand}}</p>
    <p>Price: {{item.price}}</p>

    {% endif %}
    {% endfor %}
</body>
</html>